BINARY=$1
{% for item in prom_sa %}
${{ '{' }}BINARY{{ '}' }} get serviceaccount {{ item.serviceaccount }}  >/dev/null 2>&1 
if [ $? != 0 ]
then
  ${{ '{' }}BINARY{{ '}' }} apply -f - <<EOF
---
  apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: {{ item.serviceaccount }}
    namespace: default
EOF
else
  echo "Service Account {{ item.serviceaccount }} already created"
fi
{% endfor %}
#unlink $0
