kind: Pod
apiVersion: v1
metadata:
  name: nginx-pod
spec:
  containers:
    - name: nginx-pod
      image: nginx
      volumeMounts:
      - mountPath: "/opt"
        name: nfstest
  volumes:
    - name: nfstest
      persistentVolumeClaim:
        claimName: nfs-pvc
---
