#
# MY CA Intermediate details
#
INTCA="ovpnca"
years=3
INTCA_TTL="$((24*365*${years}))h"
INTCA_DESC="Christophe Lehy Intermediate CA  on Azure (ovpn) valid ${years} years"
INTCA_ENDPOINT=https://fip-ovpn.westeurope.cloudapp.azure.com:8200/v1/${INTCA}

#
# Roles
#

# This policy can create server and client certificates
R_GET_CERT=get-certs

