
#
# MY CA Root details
#
ROOTCA="rootca"
years=10
ROOTCA_TTL=$((24*365*${years}))h
ROOTCA_DESC="Christophe Lehy Root CA valid ${years} years"
ROOTCA_ENDPOINT=https://vault.cloudra.local:8200/v1/${ROOTCA}

#
# MY CA Intermediate details
#
INTCA="intca"
years=3
INTCA_TTL="$((24*365*${years}))h"
INTCA_DESC="Christophe Lehy Intermediate CA valid ${years} years"
INTCA_ENDPOINT=https://vault.cloudra.local:8200/v1/${INTCA}

#
# Roles
#
R_GET_CERT=get-certs
